.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
*.langlens
*.jsonl
*.json
!package.json
!media/**
!dist/**
!assests/**
